.food-card {
  box-shadow: 2px 2px 20px;
  // min-width: 15rem;
  max-width: 15rem;

  .card-img-top {
    transition: all 0.5s;
    opacity: 0.8;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
      background: linear-gradient(rgba(200, 0, 0, 0.1), rgba(200, 0, 0, 0.1));
    }
  }
}
