.brand-text {
  text-transform: uppercase;
  font-weight: bolder;
  &:hover {
    text-decoration: none;
  }
}

.scrolling {
  background-color: #e76f51;
  color: #fff;

  .brand-text,
  .cart,
  .location {
    color: #fff;

    .cart-counter {
      background-color: #f1faee;
      color: #e76f51;
    }
  }
}


@media (max-width: 576px) {
  .location {
    display: none;
  }
}
